<article class="jists index">
  <h1>All Jists</h1>

  <ul class="jists-list">
    <% @jists.each do |jist| %>
      <li><%= link_to "##{ jist.id }", jist %> <span class="description">– <%= jist.description %></span></li>
    <% end %>
  </ul>
</article>