.jist.show {
  header {
//    TODO: Clearfix
    background: #eee;
    border: 1px solid darken(#eee, 10%);
    margin-bottom: 0.8em;
    padding: 0.4em;
    .title {
      font-size: 1.5em;
      float: left;
      margin: 0;
      text-shadow: 0 1px 0 #fff;
      .id {
        color: darken(#eee, 25%);
        font-size: 0.75em;
      }
    }

    .controls {
      float: right;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        line-height: 1.6;
        a {
          background: darken(#eee, 10%);
          border: 1px solid darken(#eee, 25%);
          border-radius: 50px;
          color: #36C;
          font-size: 0.75em;
          padding: 0.2em 1.5em;
          text-decoration: none;
          &:visited {
            color: #36C;
          }
          &:hover,
          &:active,
          &:focus {
            color: #039;
          }
        }
      }
    }
  }

  .files {
    margin-bottom: 0.8em;
    .file {
      margin-bottom: 0.8em;
      .filename {
        background: #eee;
        border: 1px solid darken(#eee, 10%);
        color: darken(#eee, 50%);
        font-family: monospace;
        font-size: 1em;
        font-weight: normal;
        letter-spacing: -1px;
        margin: 0;
        padding: 0.8em 0.4em;
        text-shadow: 0 0 1px #fff;
      }
      .contents {
        background: #F8F8F8;
        border: 1px solid darken(#eee, 10%);
        border-top: none;
        font-size: 0.85em;
        line-height: 1.5;
        margin: 0;
        overflow-x: scroll;
        padding: 0.8em 0.4em;
        white-space: pre-wrap;
      }
    }
  }

  .actions {
    .destroy {
      float: right;
      font-size: 13px;
    }
  }

}

.jists.index {
  .jists-list {
    font-size: 0.85em;
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0.4em;
    }
    .description {
      color: darken(#eee, 75%);
    }
  }
}

.jist.new,
.jist.edit {
  header {
    background: #eee;
    border: 1px solid darken(#eee, 10%);
    margin-bottom: 0.8em;
    padding: 0.4em;
    .title {
      font-size: 1.5em;
      margin: 0;
      text-shadow: 0 1px 0 #fff;
      .id {
        color: darken(#eee, 25%);
        font-size: 0.75em;
      }
      input[type=text] {
        color: darken(#eee, 75%);
        display: inline-block;
        font-family: monospace;
        width: 80%;
      }
    }
  }

  .files {
    margin-bottom: 0.8em;
    .file {
      margin-bottom: 0.8em;
      .filename {
        background: #eee;
        border: 1px solid darken(#eee, 10%);
        color: darken(#eee, 50%);
        font-family: monospace;
        font-size: 1em;
        font-weight: normal;
        letter-spacing: -1px;
        margin: 0;
        padding: 0.8em 0.4em;
        text-shadow: 0 0 1px #fff;
        input[type=text] {
          font-family: inherit;
        }
      }
      textarea.contents {
        background: #F8F8F8;
        border: 1px solid darken(#eee, 10%);
        font-family: monospace;
        font-size: 0.85em;
        height: 450px;
        line-height: 1.5;
        margin: 0;
        padding: 0.8em 0.4em;
        resize: none;
        width: 98.9%;
      }
    }
  }

}

.history {
  .commits {
    font-size: 0.85em;
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0.4em;
      a {
        display: block;
      }
      .authored_date {
        font-size: 0.85em;
      }
    }
  }
}

.recently-updated {
  ul {
    font-size: 0.85em;
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0.4em;
      .description {
        color: darken(#eee, 50%);
      }
    }
  }
}

